<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medaptivehealth.researchstack.backbone.interop" >
    <application>
        <activity
            android:name=".ViewMedaptiveBackboneInteropTaskActivity"
            android:windowSoftInputMode="adjustResize"
            />
    </application>
</manifest>
